{% extends 'admin.html.twig' %}

{% block title "Administration"%}

{% block mainheader %}
<div class="container">
    <dic class="row">
        <div class="col12">
            <h1>Partie d'administration ! ✅</h1>
        </div>
    </dic>
</div>
{% endblock %}

{% block maincontent %}

{% endblock %}
